<h1>Lista de Peliculas</h1>



<p><%=  @movies.count if !@movies.nil?  %></p>

<% @movies.each do |movie| %>
    <h2><%= movie.name %></h2>
    <p><%= movie.synopsis %></p>
    <p><%= movie.director %></p>
    
    <% end %>    
    
<div>