<h1>Lista Series</h1>



<p><%=  @series.count if !@series.nil?  %></p>

<% @series.each do |serie| %>
    <h2><%= serie.name %></h2>
    <p><%= serie.synopsis %></p>
    <p><%= serie.director %></p>
    
    <% end %>    
    
<div>